@mixin board {
  .board {
    margin: 0 auto;
    margin-top: 0.3rem;
    background-color: $primary-color;
    border-radius: 0.3rem;
    padding: 0.5rem;
    display: grid;
    gap: 0.05rem;
    .box {
      background-color: $box-color;
      height: 2rem;
      width: 2rem;
      border-radius: 0.1rem;
      line-height: 1rem;
      text-align: center;
      border: 0.5px solid rgb(207, 207, 207);
      &:hover {
        background-color: $hover-box-color;
      }
      i {
        color: rgba(34, 31, 31, 0.801);
        font-size: 1.2rem;
      }
      .num-1 {
        color: rgb(240, 206, 206);
      }
      .num-2 {
        color: rgb(198, 205, 235);
      }
      .num-3 {
        color: rgb(173, 230, 185);
      }
      .num-4 {
        color: rgb(231, 187, 231);
      }
      .num-5 {
        color: rgb(235, 231, 186);
      }
      .num-6 {
        color: rgb(176, 233, 225);
      }
      .num-7 {
        color: rgb(213, 175, 235);
      }
      .num-8 {
        color: rgb(240, 216, 193);
      }
    }
    .box-uncover {
      background-color: rgba(199, 199, 199, 0.568);
      color: whitesmoke;
      border: 0;
      &:hover {
        background-color: rgba(199, 199, 199, 0.568);
      }
    }
  }
}
