@mixin controls {
  .controls {
    margin: 0 auto;
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 0rem 1rem;
    hr {
      width: 100%;
      height: 0px;
      margin-top: 2rem;
      border: 1px solid $primary-color;
      background-color: $primary-color;
    }
    .face {
      background-color: $background-color;
      padding: 0.1rem;
      border-radius: 99rem;
      margin: 0.3rem;
      font-size: 2.4rem;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
