@mixin howToPlay {
  .howToPlay-wrapper {
    background-color: $background-color-blur;
    color: $text-settings-color;
    backdrop-filter: blur(0.5rem);
    border-radius: 0.5rem;
    margin: 0 auto;
    padding: 0.5rem;
    max-width: 400px;
    width: 90%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1), 0 0 0 1000px rgba(46, 42, 42, 0.788);
    .howToPlay {
      border: 3px solid $primary-color;
      padding: 1.5rem 2rem 1rem 2rem;
      border-radius: 0.5rem;
      .howToPlay-close {
        display: flex;
        justify-content: flex-end;
        .close {
          margin-left: 1rem;
          font-size: 1.4rem;
          &:hover {
            cursor: pointer;
            color: $primary-color;
          }
        }
      }
      .howToPlay-title {
        margin-top: -1rem;
        display: flex;
        justify-content: center;
        font-size: 1.7rem;
        padding-bottom: 1rem;
        border-bottom: 0.1px solid rgb(165, 165, 165);
      }
    }
  }
}
