@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yatra+One&display=swap");
@import "./timer";
@import "./controls";
@import "./board";
@import "./foot";
@import "./settings";

$background-color: rgb(223, 223, 223);
$primary-color: rgb(0, 86, 126);
$primary-color-hover: rgba(0, 115, 168, 0.863);
$text-color: rgb(207, 207, 207);
$background-color-blur: rgba(223, 223, 223, 0.733);
$text-settings-color: black;

$box-color: rgb(207, 207, 207);
$hover-box-color: rgb(253, 253, 253);

* {
  font-family: "Yatra One", cursive;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  height: 100%;
}

.hidde {
  display: none;
}

body {
  background-color: $background-color;
  @include timer;
  @include controls;
  @include board;
  @include foot;
  @include settings;
}
